<html>
    <head>
        <title>List</title>
    </head>
    <body>
        <a href="{{ url_for('home')}}">Main Page</a>
        <p></p>
        <h1>List of all entries</h1>
        <table>
            <caption>
                List of all entries in the database
            </caption>
            <thead>
                <tr>
                    <th>iCon Name</th>
                    <th>Date</th>
                    <th>Student First Name</th>
                    <th>Student Last Name</th>
                    <th>Equipment</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Some iCon</th>
                    <th>Some day format</th>
                    <th>Some first name</th>
                    <th>Some last name</th>
                    <th>Some tool or something</th>
                </tr>
            </tbody>
        </table>
    </body>
</html>